<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost/ESPNGen
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            root
        </property>
        <property name="connection.password">
            root
        </property>
        <property name="hbm2ddl.auto">
            update
        </property>
        <mapping class="com.csci5448.accounts.UserAccount"/>
        <mapping class="com.csci5448.accounts.JournalistAccount"/>
        <mapping class="com.csci5448.content.News"/>
        <mapping class="com.csci5448.content.stats.TeamStats"/>
        <mapping class="com.csci5448.content.Team"/>
        <mapping class="com.csci5448.content.stats.PlayerStats"/>
        <mapping class="com.csci5448.content.Player"/>
    </session-factory>
</hibernate-configuration>